/* Variables */
:root {
    --background-color: #9f4949;
    --navbar-color: #080808;
    --text-color: #5d5252;
    --border-color: #880f0f;
    --background-dark: #333;
    --background-light: #fff;
}

/* Reset and Basic Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

/* Container Styles */
.flexbox-container {
    display: flex;
    flex-direction: column;
    margin: 1.5em;
    border: 1px solid var(--border-color);
    position: relative;
}

.flexbox-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flexbox-title {
    border: 1px solid var(--border-color);
    background-color: var(--background-dark);
    text-align: center;
    color: var(--text-color);
    position: absolute;
    width: 50%;
    left: 50%; /* center */
    margin-top: 2vh;
    transform: translate(-50%, -50%);
}

.flexbox-item {
    width: 10vw;
    height: 31vh;
    margin: 1vw;
    margin-top: 7vh;
    border: 1px solid var(--border-color);
    background-color: var(--background-dark);
    text-align: center;
    line-height: 20vh;
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.3s; /* Smoothly scale on hover */
}

.flexbox-item:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/* Responsive Design (Adjust values as needed) */
@media screen and (max-width: 768px) {
    .flexbox-item {
        /* Adjust styles for smaller screens */
    }
}
